@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #b4f1b4, #004d00);
  color: #000;
  font-size: 115%;
}

.header {
  width: 100vw;
  height: 75px;
  background: #eaffea;
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  background: #eaffea;
}

.logo {
  display: block;
  height: 55px;
  font-size: 2rem;
  font-weight: 600;
  color: #005f00;
}

.logo img {
  height: 100%;
}

#checkbox {
  display: none;
}

.menu_hamburger {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  z-index: 99;
}

.line {
  position: absolute;
  width: 20px;
}

.line-main::before,
.line-main::after,
.line-split::before,
.line-split::after {
  content: "";
  position: absolute;
  width: inherit;
  height: 2px;
  border-radius: 5px;
  background: #57c257;
  transition: transform 0.5s;
}

.line-main::before {
  transform: translateY(-7px);
}

.line-main::after {
  transform: translateY(7px);
}

.line-split::before,
.line-split::after {
  width: 10.5px;
  transition: transform 0.5s, opacity 0.5s;
}

.line-split::after {
  transform: translateX(10px);
}

#checkbox:checked ~ .line-main::before {
  transform: rotate(45deg);
}

#checkbox:checked ~ .line-main::after {
  transform: rotate(-45deg);
}

#checkbox:checked ~ .line-split::before {
  transform: translateX(-10px);
  opacity: 0;
}

#checkbox:checked ~ .line-split::after {
  transform: translateX(20px);
  opacity: 0;
}

.container-menu-mobile {
  display: none;
  line-height: 46px;
  height: 45px;
  cursor: pointer;
}

.menu-openner span,
.fa-cart-shopping {
  color: #57c257;
  font-size: 1.2rem;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul a {
  text-decoration: none;
  color: inherit;
  margin: 5px 10px;
  position: relative;
  padding-bottom: 6px;
  display: block;
  font-size: 0.85rem;
  font-weight: 500;
}

.menu ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #57c257;
  transition: 0.2s ease-out;
}

.menu ul a:hover::after,
.menu .active::after {
  left: 0%;
  width: 100%;
}

.home {
  width: 100vw;
  height: calc(100% - 175px);
  display: flex;
  justify-content: center;
}

.home-area {
  width: 1300px;
  display: flex;
  background: #f6fff6;
}

.left-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
}

.left-area {
  width: 82%;
}

.left-text1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #006600;
}

.left-text2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #003300;
}

.left-text3 {
  margin: 25px 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: #444;
}

.button {
  background: #57c257;
  width: 45%;
  padding: 14px 18px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background: #469d46;
}

.left-home a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.fa-arrow-right {
  margin-left: 10px;
  font-size: 1rem;
  color: #fff;
}

.right-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.right-image {
  width: 90%;
}

.right-image img {
  width: 100%;
}

footer {
  display: block;
  height: 100px;
  font-size: 0.7rem;
  background: #eaffea;
  text-align: center;
  line-height: 100px;
  font-weight: 500;
}

footer a {
  position: relative;
  text-decoration: none;
  color: #666;
  padding-bottom: 2px;
}

footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #aaa;
  transition: 0.3s ease-out;
}

footer a:hover::after {
  left: 0%;
  width: 100%;
}

@media(max-width: 1284px) {
  .left-text1 {
    font-size: 2.7rem;
  }

  .left-text2 {
    font-size: 2.2rem;
  }

  .left-text3 {
    margin: 25px 0;
    font-size: 0.8rem;
  }

  .button {
    width: 40%;
    padding: 13px 17px;
  }

  .left-home a {
    font-size: 0.9rem;
  }

  .fa-arrow-right {
    margin-left: 7px;
    font-size: 0.8rem;
  }
}

@media(max-width: 1300px) {
  .menu-area,
  .home-area {
    padding: 0 8%;
  }
}

@media(max-width: 1010px) {
  .button {
    padding: 12px 16px;
  }

  .left-home a {
    font-size: 0.8rem;
  }

  .fa-arrow-right {
    margin-left: 5px;
    font-size: 0.7rem;
  }
}

@media(max-width: 990px) {
  .left-text1 {
    font-size: 2.3rem;
  }

  .left-text2 {
    font-size: 2rem;
  }

  .left-text3 {
    margin: 20px 0;
    font-size: 0.75rem;
  }
}

@media(max-width: 744px) {
  .home-area {
    align-items: center;
    flex-direction: column-reverse;
  }

  .container-menu-mobile {
    display: flex;
  }

  .menu_hamburger {
    display: inline-flex;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 98;
    display: flex;
    justify-content: center;
    width: 0px;
    height: 100vh;
    padding-top: 75px;
    background: rgba(255, 255, 255, 0.888);
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease 0.5s;
  }

  .menu ul {
    flex-direction: column;
    padding-right: 40px;
  }

  .menu li {
    display: block;
    padding: 8px;
    text-align: center;
  }

  .menu-opened {
    width: 200px !important;
  }

  .menuMobile-area {
    display: flex;
    z-index: 99;
    margin-right: 15px;
  }

  .left-home {
    align-items: center;
    width: 100%;
  }

  .left-area {
    width: 55%;
  }

  .left-text1 {
    font-size: 2rem;
  }

  .left-text2 {
    font-size: 1.5rem;
  }

  .left-text3 {
    margin: 15px 0;
    font-size: 0.65rem;
  }

  .button {
    width: 50%;
  }

  .right-home {
    width: 100%;
  }

  .right-image {
    display: flex;
    justify-content: center;
    max-width: 75%;
  }

  .right-image img {
    width: 75%;
  }
}

@media(max-width: 752px) {
  .home-area {
    justify-content: flex-end;
  }
}

@media(max-width: 580px) {
  .right-image {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .right-image img {
    width: 90%;
  }

  .left-area {
    width: 82%;
  }

  .left-text3 {
    margin: 20px 0;
  }

  .left-home {
    margin-top: 10px;
  }
}

@media(max-width: 450px) {
  .right-image img {
    width: 130%;
  }

  body {
    height: 100vh;
  }

  footer {
    line-height: 100px;
  }
}

@media(max-width: 380px) {
  body {
    height: 100%;
  }

  .left-text1 {
    font-size: 1.8rem;
  }

  .button {
    width: 60%;
  }
}
