/* variables  */
:root{
    --text-color: rgba(255, 255, 255, 0.85);
    --body-color: rgb(255, 255, 255);
    --trans-color: rgba(255, 255, 255, 0.1);

    --primary-color: #2a6f29; /* Vibrant forest green */
    --secondary-color: #a8d65e; /* Bright lime green */
    --background-color: #d9e8c5; /* Soft pastel green */
    --green-alternative: #4a9e4d; /* Lively emerald green */
}

/* Estilizando a barra de rolagem vertical */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #fff; /* Cor do fundo da barra */
}
  
::-webkit-scrollbar-thumb {
    background: var(--secondary-color); /* Cor da parte rolável */
    border-radius: 10px;
}
  
/* Estilizando a barra de rolagem horizontal */
::-webkit-scrollbar-thumb:horizontal {
    height: 10px;
}

/* common style  */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

::placeholder{
    color: var(--body-color);
    font-family: "Lora", serif;
}

input:focus-visible {
    border: 1px solid var(--secondary-color);
}

body{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    /* background-image: url(./assets/home-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

section{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
}

h1 {
    color: #fff;
    font-size: 2rem;
}

p,
h4,
a{
    color: var(--text-color);
}

h2, h3{
    color: var(--body-color);
}

button{
    border: 2px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    text-transform: capitalize;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 12px;
    transition: .3s ease;
}

button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.planto{
    max-width: 1920px;
    margin: 0 auto;
    height: auto;
    position: relative;
    background-color: #1a2f15; /* Darker green for depth */
}

/* home  */
.home{
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.56rem;
}

.logo img{
    width: 40px;
}

.logo h4{
    text-transform: capitalize;
    font-size: 1.5rem;
    align-self: flex-end;
}

.nav_menu{
    display: none;
}

.nav_menu.active{
    width: 120px;
    height: auto;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: .5rem;
    top: 80px;
    right: 20px;
    z-index: 1;
}

.close {
    display: none;
}

.close.active {
    display: block;
}

.nav_menu.active li {
    margin: .2rem;
}

.nav_menu.active li a{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.2rem;
    
}

.nav_menu li a {
    color: #fff;
    transition: 1s;
}

.nav_menu li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.nav_icon{
    display: flex;
    align-items: center;
    gap: 1rem;
    visibility: hidden;
}

.nav_icon img{
    width: 22px;
}

.trend .title{
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title > h2{
    font-size: 25px;
}

.title > img{
    position: absolute;
}

.title > img:first-child{
    left: 22%;
    width: 50px;
}

.title > img:last-child{
    right: 22%;
    width: 50px;
}

.instructions {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 12px;
    padding: 1rem;
    background: var(--secondary-color);
    font-style: italic;
    font-weight: 600;
    font-size: 1.2rem;
    color: #000; /* Uma cor mais clara para indicar que é uma instrução */
}

.espaço_cont {
    width: auto;
    height: 2rem;
    border: 2px solid var(--secondary-color);
    padding: .5rem;
    text-align: center;
    text-transform: capitalize;
    border-radius: 12px;
    color: var(--secondary-color);
    font-size: .7rem;
}

.info_cont{
    border: 2px solid var(--text-color);
    padding: 10px 20px;
    border-radius: 12px;
    transition: all .3s ease-in-out;
}

.info_cont:hover{
    background: var(--primary-color);
}

.info_cont img{
    width: 20px;
}

/* selling  */
.selling{
    margin-top: 3rem;
}

.selling title{
    margin-bottom: 7rem;
    margin-top: 4rem;
}

.plants{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    position: relative;
    margin-top: 6rem;
    place-items: center;
}

.plant_items,
.review_content{
    width: 100%;
    max-width: 350px;
    position: relative;
    margin-bottom: 7rem;
}

.card-blur {
    background-color: #ffffff10;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: auto;
}

.items_content,
.review_content{
    position: relative;
    z-index: 3;
}

.items_content_img{
    display: grid;
    place-items: center;
}

.items_content_img img{
    margin-top: -3rem;
    width: 250px;
    height: 250px;
    filter: drop-shadow(0 100px 80px rgba(0, 0, 0, 0.7));
    object-fit: contain;
}

.items_content_text{
    margin-top: 1rem;
}

.items_content_text h3{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.items_content_text p{
    font-size: 14px;
    padding-right: 30px;
    margin-bottom: 1rem;
}

.items_content_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items_content_inner > h3{
    margin: 0;
    font-size: 22px;
    font-weight: 400;
}

.items_content_inner .info_cont{
    padding: 7px 10px;
}

/* footer  */
footer{
    width: 100%;
    background-color: #1f3b1c;
}

.footer{
    padding: 3rem 2rem;
}

.footer_top{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    width: 100%;
}

.footer_logo{
    display: flex;
    align-items: center;
    column-gap: .6rem;
    margin-bottom: 1.5rem;
}

.footer_logo h3{
    font-weight: 700;
    font-size: 2rem;
}

.footer_title > p{
    color: var(--body-color);
    font-weight: 500;
    font-size: 1rem;
}

footer ul li h2{
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

footer ul li:not(:first-child){
    margin-bottom: 1rem;
    color: var(--body-color);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem;
}

.search {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.form_group {
    width: 20rem;
    height: 2.5rem;
    border-radius: .5rem;
    margin-right: 1rem;
    background: transparent;
    border: 1px solid var(--body-color);
    color: var(--body-color);
    padding: .5rem;
}

.form_group button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
}

.footer_bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.footer_bot .social{
    display: flex;
    gap: 50%;
    text-transform: uppercase;
}

.footer_bot p{
    color: var(--body-color);
    font-weight: 700;
}

/* Media Queries e Modal estão incluídos na próxima resposta por limite de tamanho. Deseja que eu continue? */
/* responsive  */
@media screen and (min-width: 768px) {
    .footer_top {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .footer_bot {
        flex-direction: row;
    }

    .search {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1024px){
    .footer_top {
        grid-template-columns: repeat(4, 1fr);
    }

    .nav_menu{
        display: flex !important;
        gap: 2rem;
        align-items: center;
        position: static;
        background-color: transparent;
        flex-direction: row;
        padding: 0;
        height: auto;
        width: auto;
    }

    .nav_icon{
        visibility: visible;
    }

    .close {
        display: none !important;
    }
}

@media screen and (max-width: 768px){
    .instructions {
        width: 90%;
    }

    .form_group {
        width: 100%;
    }

    .footer_bot {
        flex-direction: column;
        gap: 1rem;
    }
}

/* modal  */
.modal {
    display: none; 
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close-btn {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
